body {
    margin: 0;
}

a {
    text-decoration: none;
}

.example {
    display: block;                /* Режим отображения объекта ( none, block, flex ) */
    position: absolute;            /* Расположение объекта (absolute, relative, fixed) */
    top: 0;                        /* Отступ сверху */
    left: 0;                       /* Отступ слева */
    height: 80px;                  /* Высота объекта */
    width: 240px;                  /* Ширина объекта */
    margin: 4px;                   /* Отступы снаружи */
    padding: 12px;                 /* Отступы изнутри */
    color: white;                /* Цвет текста */
    background-color: black;     /* Цвет объекта */
    background-image: url();       /* Изображение объекта */
    background-repeat: no-repeat;  /* Повторение изображение */
    background-size: cover;        /* Размер изображения */
    background-position: center;   /* Расположение изображения */
    border: 1px solid white;     /* Обводка (Размер solid Цвет) */
    border-radius: 0.3vw;          /* Радиус обводки */
    opacity: 0.7;                  /* Прозрачность ( 0 - 1 ) */
    font-size: 12px;               /* Размер теста */
    font-family: "";               /* Шрифт текста */
    font-weight: 600;              /* Ширина текста ( 100 - 900 ) */
    text-align: center;            /* Выравнивание текста ( center, left, right, bottom ) */
    z-index: -1;                   /* Слой */
    transition: 0.2s 0.5s;         /* Анимация */
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url(./res/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.jopa2 {
    position: absolute;
    top: 40%;
    left: 30%;
    color: white;
    background-color: red;
    border-radius: 0.2vw;
    text-align: center;
    padding-top: 20px;
    height: 20%;
    width: 40%;
    font-size: 70px;
    z-index: 1;
    transition: 0.1s 0s;
}

.jopa2:hover {
    background-color: rgb(151, 151, 151);
    transition: 0.2s 0s;
}

.jopa3 {
    position: relative;
    text-align: center;
    top: 150px;
    font-size: 100px;
    color: white;
    z-index: 1;
}

.jopa4 {
    position: relative;
    text-align: center;
    top: 300px;
    font-size: 50px;
    color: white;
    z-index: 1;
}